.bg-gray-100 {
    background-color: #f8f9fa !important;
    height: 100vh;
}
.v-navigation-drawer {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 15.625rem !important;
    overflow-y: auto;
    padding: 0;
    box-shadow: none;
    border-top-left-radius: 41px;
}
.v-navigation-drawer__border{   
      background-color: transparent !important;
}
.v-app-bar{   
      background-color: transparent !important;
}
.v-list--nav.v-list--dense .v-list-item--active{
        color: #344767;
        background-color: #fff;
    
}
.sidenav-header {
    height: 4.875rem;
}

hr {
    width: 170px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}



// =========================================================
.bg-gray-100 {
    background-color: #f8f9fa !important;
}
body {
    font-weight: 400;
    line-height: 1.6;
}
.navbar-vertical.navbar-expand-xs.fixed-end {
    right: 0;
}
.navbar-vertical.navbar-expand-xs {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 15.625rem !important;
    overflow-y: auto;
    padding: 0;
    box-shadow: none;
}
.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}
.sidenav {
    z-index: 990;
}
.main-content, .sidenav {
    transition: all 0.2s ease-in-out;
}
.navbar {
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 16%);
}
.border-radius-xl {
    border-radius: 1rem;
}
.me-3 {
    margin-right: 1rem !important;
}
.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.border-0 {
    border-width: 0 !important;
}
.border-0 {
    border: 0 !important;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}
.main-content, .sidenav {
    transition: all 0.2s ease-in-out;
}
.border-radius-lg {
    border-radius: 0.75rem;
}
.max-height-vh-100 {
    max-height: 100vh !important;
}
.mt-1 {
    margin-top: 0.25rem !important;
}
.h-100 {
    height: 100% !important;
}
.position-relative {
    position: relative !important;
}
.overflow-hidden {
    overflow: hidden !important;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
main {
    display: block;
}
body {
    font-weight: 400;
    line-height: 1.6;
}
body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #67748e;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.navbar-main {
    transition: box-shadow 0.25s ease-in, background-color 0.25s ease-in;
}
.navbar {
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 16%);
}
.border-radius-xl {
    border-radius: 1rem;
}
.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.mx-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}
.shadow-none {
    box-shadow: none !important;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}
.sidenav-header {
    height: 4.875rem;
}
hr.horizontal.dark {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}
hr.horizontal {
    background-color: transparent;
}
hr:not([size]) {
    height: 1px;
}
.mt-0 {
    margin-top: 0 !important;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
}
*, *::before, *::after {
    box-sizing: border-box;
}
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
.navbar-vertical.navbar-expand-xs .navbar-collapse {
    display: block;
    overflow: auto;
    height: calc(100vh - 360px);
}
.collapse:not(.show) {
    display: none;
}
.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}
.max-height-vh-100 {
    max-height: 100vh !important;
}
.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.h-100 {
    height: 100% !important;
}
.w-auto {
    width: auto !important;
}
.navbar-collapse {
    flex-basis: 100%;
    
    @media (min-width: 992px){

        .navbar-expand-lg .navbar-collapse {
            display: flex !important;
            flex-basis: auto;
        }
    }
}
.collapse:not(.show) {
    display: none;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-sm, .navbar>.container-md, .navbar>.container-lg, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 1.5rem);
    padding-left: var(--bs-gutter-x, 1.5rem);
    margin-right: auto;
    margin-left: auto;
}