<div>
  <div class="card-area">
    <ValidationObserver v-slot="{ handleSubmit}">
      <form @submit.prevent="handleSubmit(confirm)">
        <v-card flat class="px-4 pb-4">
          <v-toolbar flat class="mb-2">
            <v-spacer />
            <v-btn color="primary" depressed @click="$emit('back')">عودة</v-btn>
          </v-toolbar>

          <v-row align="center">
            <AppFormField
              label="اسم المستخدم"
              v-model="user.loginName"
              rules="required|username|max:50" :counter="50"
            />
            <AppFormField
              label="الاسم بالكامل"
              v-model="user.fullName"
              rules="required|arabic|max:100" :counter="100"
            />
            <AppFormField
              label="الوصف الوظيفي"
              v-model="user.jobDescription"
              rules="required|arabic|max:20" :counter="20"
            />
            <AppFormField
              label="رقم الهاتف"
              v-model="user.phoneNo"
              rules="required|phone|libyanPhone"
            />
            <AppFormField
              label="البريد الالكتروني"
              v-model="user.email"
              rules="required|email|max:50" :counter="50"
            />
          </v-row>
        </v-card>
        <v-card flat class="px-4 py-1 mt-6">
          <v-toolbar flat color="transparent">
            <v-toolbar-title>
              <h6 class="mb-2">الصلاحيات</h6>
            </v-toolbar-title>
            <v-divider class="mx-4" inset vertical />
          </v-toolbar>
          <v-expansion-panels class="justify-start" multiple>
            <v-col
              cols="12"
              md="6"
              v-for="(item,i) in features"
              :key="item.featureId"
            >
              <v-expansion-panel v-if="item.permissions.length">
                <v-expansion-panel-header color="head">
                  {{item.featureName}}
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-row>
                    <v-col
                      cols="6"
                      v-for="(item,i) in item.permissions"
                      :key="i"
                    >
                      <v-checkbox
                        :value="item.permissionId"
                        color="success"
                        :label="item.permissionName"
                        v-model="user.permissions"
                        hide-details
                      >
                      </v-checkbox>
                    </v-col>
                  </v-row>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-col>
          </v-expansion-panels>
        </v-card>
        <v-card flat class="px-4 py-1 mt-6">
          <v-row>
            <v-col class="text-end">
              <v-btn type="submit" color="primary">حفظ</v-btn>
            </v-col>
          </v-row>
        </v-card>
      </form>
    </ValidationObserver>
  </div>
</div>
