.v-data-table-header {
  // border-top: none;
  background: #3294a8a4;
  border-left: none;
  border-right: none;
  
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding: 10px 21px 10px 21px;
  // color: #a3ba46;

}

th span {
  text-transform: initial;
  font-weight: 600;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: rgb(255, 255, 255);
  // color: #a3ba46;

  font-size: 14px;
  letter-spacing: 1px;
  white-space: nowrap;
}

.theme--light.v-data-table
  > .v-data-table__wrapper
  > table
  > thead
  > tr:last-child
  > th {
  border-bottom: none !important;
}

th {
  color: #3295a8;

}
tbody tr {
  border-radius: 4px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border-bottom: 1px solid #e0e6ed;

}
tbody tr > td {

  font-size: 20px;

}
tbody tr:hover {
  background: #fafafa !important;
}
